.main {
display: block;
  justify-content: center;
width: 95vw;
}

.spacing {
  margin: auto;
  display: flex;
  flex-direction: column;
    gap: 10px;
}

.App-container {
  background-color: #8a95ec;
  min-height: 100vh;
  display: contents;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
